* {
    margin: 0;
    padding: 0;
}


/* 
section#banner {
    width: 100%;
    background-image: url("../img/fondo1.jpg");
    background-attachment: contain;
    background-position: center;
    background-repeat: no-repeat;
} */

header {
    position: fixed;
    width: 100%;
    height: 70px;
}

img#logo {
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -35px;
}

#body {
    width: 100%;
    height: 500px;
}

.borderUl {
    border-top: 1px solid #E66F69;
    border-bottom: 1px solid #E66F69;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 300px;
}

.linkStyle {
    color: #186A65;
    text-align: center;
}

.menuBarra {
    margin-top: 35px;
}