    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-image: url('../img/fondo3.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        /* position: fixed; */
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    
    .bgStyle {
        background-color: #F9F7EF;
    }
    
    header {
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0;
        z-index: 10000;
    }
    
    img#logo {
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .borderUl {
        border-top: 1px solid #E66F69;
        border-bottom: 1px solid #E66F69;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 300px;
    }
    
    .linkStyle {
        color: #186A65;
        text-align: center;
    }
    
    .btnMenu {
        background: transparent;
        color: #186A65;
        border: none;
    }
    
    .btnMenu:focus {
        outline: none;
    }
    
    .containerInfo {
        max-width: 80%;
    }
    
    .imgstyle {
        width: 320px;
        margin-top: 30px;
        border-radius: 100%;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    }
    
    .textProyect {
        color: #186A65;
        text-align: center;
    }
    
    .imgLogos {
        width: 120px;
    }
    
    .stitched {
        padding: 20px;
        margin: 10px;
        background-color: rgba(249, 247, 239, 0.8);
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        line-height: 1.3em;
        border: 2px dashed #1C6D68;
        border-radius: 10px;
        box-shadow: 0 0 0 4px #F9F7EF, 2px 1px 6px 4px rgba(10, 10, 0, 0.9);
        font-weight: normal;
    }
    
    .stitchedHome {
        padding: 20px;
        margin: 10px;
        background-color: rgba(249, 247, 239, 0.8);
        border: 2px dashed #1C6D68;
        border-radius: 10px;
        box-shadow: 0 0 0 4px #F9F7EF, 2px 1px 6px 4px rgba(10, 10, 0, 0.9);
        top: 20px;
        border-radius: 10px;
        font-size: 18px;
        color: #333333;
        margin-bottom: 10px;
    }
    
    .textLogo {
        font-size: 20px !important;
        color: #1C6D68 !important;
        text-align: center !important;
        font-weight: bold;
        margin-top: 10px;
    }
    
    .textCard {
        color: #333333;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 16px;
    }
    
    .titleCard {
        color: #333;
        text-align: center;
    }
    
    .btnStyle {
        background-color: #1C6D68;
        color: #fff;
        transition: 0.5s;
        width: 85%;
        display: block;
        margin: auto;
        font-family: "arial";
    }
    
    .btnStyle:hover {
        background-color: #E66F69;
        color: #fff;
    }
    
    .btnProyect {
        background-color: #1C6D68;
        color: #fff;
        transition: 0.5s;
        width: 85%;
        display: block;
        margin: auto;
        font-family: "arial";
    }
    
    .btnProyect:hover {
        background-color: #E66F69;
        color: #fff;
    }
    
    .titleContact {
        color: #666;
    }
    
    .imgCard {
        border-radius: 8%;
    }
    
    .containerCard {
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
        background-color: #F9F7EF;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .card-body a {
        text-decoration: none;
    }
    
    .linkProyect a {
        text-decoration: none;
    }
    
    #quienSoy,
    #habilidades,
    #portafolio,
    #contacto {
        width: 100%;
        /* height: 100%; */
        overflow: hidden;
    }
    
    #contacto {
        height: 100vh;
    }
    
    .titlePage {
        font-family: 'Lobster', cursive;
        text-align: center;
        margin-top: 100px;
        color: #E66F69;
        width: 100%;
        padding-bottom: 5px;
    }
    
    .styleIcon {
        color: #E66F69;
        font-size: 40px;
        margin: 15px;
    }
    
    .iconRedSocial {
        justify-content: center;
        display: flex;
    }
    
    .styleLinkCorreo {
        color: #1C6D68;
    }
    
    .linkRepo {
        margin-top: -20px;
    }
    
    @media (max-width:767px) {
        .borderUl {
            border: none;
            width: 100%;
            padding-bottom: 0px;
            padding-top: 0px;
        }
    }
    
    @media (max-width:767px) {
        .containerInfo {
            width: 100%;
        }
    }
    
    @media (max-width:767px) {
        .imgLogos {
            width: 170px;
        }
    }
    
    @media (max-width:450px) {
        .containerInfo {
            max-width: 95%;
        }
    }
    
    @media (max-width:767px) {
        .containerCard {
            margin-bottom: 20px;
        }
    }